{#    ThinkPHP 6.0 RC4  |  Layui 2.5.5   |   孙家浩 邮箱: yulianlove@foxmail.com#}
    {#    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=625250353&site=qq&menu=yes">#}
    {#        <img src="http://wpa.qq.com/pa?p=2:625250353:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>#}
    {#    </a>#}
    {{ config('site').desc|raw }}
