{% extends 'layout.twig' %}

{% block side %}
    {% include 'widget/side.twig' %}
{% endblock %}

{% block main %}
    <div class="layui-body layui-box">
        <div class="layui-card">
            <div class="layui-card-header">
                <span>站点设置</span>
            </div>
            <div class="layui-card-body">
            </div>
        </div>
    </div>
{% endblock %}