{% extends 'model.twig' %}

{% block head %}修改公告{% endblock %}

{% block body %}
    <div style="width: 500px;">
        <div class="layui-form-item">
            <label>
                <input type="text" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off"
                       class="layui-input" lay-reqtext="标题不能为空" value="{{ notice.title }}">
            </label>
        </div>
        <div class="layui-form-item layui-form-text">
            <label>
                <textarea name="content" placeholder="请输入内容" class="layui-textarea" lay-verify="required"
                          lay-reqtext="内容不能为空">{{ notice.content }}</textarea>
            </label>
        </div>
        <input type="hidden" name="id" value="{{ notice.id }}">
    </div>
{% endblock %}

{% block footer %}
    <button type="button" lay-submit lay-filter="editNotice" class="layui-btn layui-btn-sm">保存</button>
{% endblock %}

{% block js %}
    <script>
        $.Form('editNotice', '{{ url('notice/edit') }}', function () {$.Url()});
    </script>
{% endblock %}
