{% for item in list %}
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">{{ item.title }}</h3>
            <p>{{ item.content }}</p>
            <div>{{ item.create_time }}</div>
        </div>
    </li>
{% endfor %}