<div class="layui-side layui-bg-cyan">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-shrink="all">
            <li class="layui-nav-item {{ is_action('list','layui-this') }}">
                <a href="{{ url('user/list') }}">用户管理</a>
            </li>
            <li class="layui-nav-item {{ is_action('roleList','layui-this') }}">
                <a href="{{ url('role/list') }}">角色管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:">列表一</a></dd>
                    <dd><a href="javascript:">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
        </ul>
    </div>
</div>
